body{
      margin: 0 auto;  
      background: #242424;
}

div.place {
	margin: auto;
	text-align: center;
   padding: 20px;
	background-color: #242424;
	width: 800px;
}

h1.sagolovok{
    color: #F8F8F8;
    text-align: center;
    background-color: #68EBBC;
    padding: 20px;
    margin: 0;
}

h1{
	font: 30px Arial;
	color: #68EBBC;
	margin: 0 auto;
}

h2{
	font: 25px Arial;
	color: #55BE98;
}

h2.sagolovok{
    color: #F8F8F8;
    text-align: center;
    background-color: #46A382;
    padding: 20px;
    margin: 0;
}

img.image-left {
	width: 300px;
	height: 300px;
	text-align: left;
}

img.image-right {
	width: 300px;
	height: 300px;
	text-align: right;
}

a.concept {
	color: #F2F2F2;
}

a:visited.stand {
    color: #63DEB1;
}

a:active.stand {
    color: #479D7E;
}

.content{
	text-align: center;
}

.about {
	text-align: center;
	font: 20px Arial;
	background-color: #3B3B3B;
	color: #E8E8E8;
	padding: 100px;
}	